<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    This Is {{ title }}!
  </h1>

    <img width="250" alt="Team Erin" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNDUuNDUgMjY5LjQ4Ij4NCiAgPGc+DQogICAgPGc+DQogICAgICA8cGF0aCBkPSJNMTIyLjczLDBWMjY5LjQ4bDc5Ljg3LTU1Ljg0UTIyNCwxMjUuMzIsMjQ1LjQ1LDM3WiIgc3R5bGU9ImZpbGw6ICNjMTI3MmQiLz4NCiAgICAgIDxwYXRoIGQ9Ik0xMjIuNzMsMFYyNjkuNDhMNDIuODYsMjEzLjY0UTIxLjQzLDEyNS4zMiwwLDM3WiIgc3R5bGU9ImZpbGw6IHJlZCIvPg0KICAgIDwvZz4NCiAgICA8cGF0aCBkPSJNODMsNTguNDRoODAuMTZWODIuOEgxMTEuOTF2MjUuNzRoNDMuNjJ2MjQuMTdIMTExLjkxdjI5LjQ3aDUzLjI0djI0LjM2SDgzWiIgc3R5bGU9ImZpbGw6ICNmZmYiLz4NCiAgPC9nPg0KPC9zdmc+">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

